*{
    margin: 0;
    padding: 0;

}

body{
 
background-color: #fff;

}
.header{
    background-color: #232C33;
  
}
.header nav {
    background-color: #232C33;
}
.header nav a{
    color: #fff;
}
.nav__menu{
    background-color: #232C33; 
}

.nav__item .nav__link {
    color: #fff;
}
.nav__close{
    color: #fff;
}

.nav__buttons .ri-moon-line
{
    color: #fff;
}
.nav__buttons .nav__toggle{
   
    color: #fff;
}
.home__data h1{
   
    font-size: 30px;
}
.home__info h3{

    color: #000;
   font-weight: bold;
    font-size: 20px;
    opacity: 0.5;
    text-align: right;

}
.home__info p{
text-align: right;
}



.services__card{
    border: 1px solid #000;
}
.services__card p{
    font-size: 17px;
}


.footer_container .footer__list li a {
    border: 2px solid #000;
    background-color: #000;
    color: #fff;

}
